<table>
<td><img src="images/weiqin.jpg" alt="Weiqin Wang's photo" height="180px"></td>
<td>
  <div>
    <h1>Weiqin Wang <font size="5"; font style="font-family:KaiTi">(王伟钦)</font></h1>
    <b>Master's student</b><br/>
    <a href="https://csse.szu.edu.cn/"  target="_blank">College of Computer Science and Software Engineering, Shenzhen University</a><br/>
    <br/>
    <b>Email</b>: here1swqw@gmail.com<br/>
  </div>
</td>
</table>

<p>working with Assistant Prof. <a href="https://ylwangy.github.io/" target="_blank">Yile Wang</a>.</p>